*, ::before, ::after {
 box-sizing: border-box;
 scrollbar-width: none;  /* Firefox 対応 */
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #F4F5F7;
}


/* ヘッダ */
header {
  position: fixed;
  display: flex;
  align-items: center;
  top:0;
  left: 0;
  width: 100%;
  padding-left: calc(50% - 450px - 1rem);
  height: 80px;
  background: #fff;
  z-index: 10;
}

header>h1{
  max-width: 150px;
  padding: 5px 10px;
}


header>h1 img{
  width: 100%;
}

menu{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  background-color: #5C485F;
  padding-right: calc(50% - 450px);
  font-weight: bolder;
  z-index: 12;
}

menu>div:first-child {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: -160px;
  border-radius: 0 0 0 100%;
	background: #5C485F;
}

menu>img{
  height: 80px;
  width: 80px;
  margin-left: -124px;
  display:block;
}

menu>a>img{
  display: block;
  height: 80px;
  width: 80px;
  background: #5C485F;
}



/* 各記事のタイトル */
.title{
  margin-top: 80px;
  width: 100%;
  height: 25vw;
  min-height: 13rem;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: #000;
}

.title>img{
  display: block;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
}

.title>div{
  padding: 1rem;
  transform: translateY(-100%);
}

.title h2{
  margin-top: 0.3rem;
  font-size: 1.7rem;
}

.title h2+div{
  margin-top: 0.3rem;
}

/* メイン部分 */
main {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  padding: 5px 1rem;
  margin: 5px auto;
  line-height: 1.7;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main a{
  text-decoration-line: none;
  font-weight: bolder;
  color:#c0a14f;
  word-wrap: break-word;
}

p{
  text-indent: 1rem;
  margin: 0.2rem 0;
}

main h2{
  font-size: 1.3rem;
  padding: 0.1rem 0.8rem;
  border: solid 1px #5C485F;
  border-left: solid 7px #5C485F;
  margin: 1.5rem 0 1rem 0;
}



/* フッター */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-top: solid 3px #5C485F;
  padding: 0.7rem calc(50% - 450px);
  background: #fff;
}

footer>a>img{
  width: 140px;
  margin-left: 1rem;
}

footer>span{
  white-space: nowrap;
  margin: 0 1rem;
}



/* コピペ用 */
.follow {
  display: inline-block;
  width: 6rem;
  max-width: 49%;
  padding: 5px;
}

.follow img {
  width: 100%;
}
