*, ::before, ::after {
  box-sizing: border-box;
  scrollbar-width: none;  /* Firefox 対応 */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #F4F5F7;
  position: relative;
  height: 100%;
  overflow: hidden;
}

nav {
  display:block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: top 1s 1.5s;
}

nav>div {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  line-height: 1.7;
}


.center {
  display: flex;
  width: 91%;
  height: 91%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  z-index: 0;
  color: #000;
}
.centerf {
  display: block;
  width: 91%;
  height: 91%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  z-index: 0;
  color: #000;
}


.center>div{
  text-align: center;
}

.center h2 {
  font-size: 2rem;
}



.c-menu {
  display: block;
  width: 45%;
  height: 45%;
  position: absolute;
  cursor: pointer;
  margin: 5%;
  z-index: 1;
}


/* .c-menu:hover {
  width: 50%;
  height: 50%;
  margin: 0;
}

.c-menu:active {
  width: 45%;
  height: 45%;
  margin: 5%;
} */


input[name="c-btn"] {
  display: none;
}

label[for="b-about"] {
  border-radius: 100% 0 0 0;
	background: #96C748;
}

label[for="b-report"] {
  border-radius: 0 100% 0 0;
	background: #5C485F;
  right: 0;
}

label[for="b-homepage"] {
  border-radius: 0 0 100% 0;
	background: #F7B749;
  right: 0;
  bottom: 0;
}

label[for="b-soho"] {
  border-radius: 0 0 0 100%;
	background: #c93c2e;
  bottom: 0;
}

.btn {
  display: inline-block;
	background: #EAD8BB;
  padding: 5px 20px;
  margin: 5px;
  color: #000;
  font-weight: bold;
  text-decoration:none;
  cursor: pointer;
}

#title {
  background: #fff;
  width: 70%;
  height: 70%;
  z-index: 1;
  opacity: 1;
  color: #000;
}

#title img {
  width: 80%;
}

#c-about,#cf-about {
  background: #96C748;
}

#c-report,#cf-report {
  background: #5C485F;
  color: #EAD8BB;
}

#c-homepage,#cf-homepage {
  background: #F7B749;
}

#c-soho,#cf-soho {
  background: #c93c2e;
  color: #EAD8BB;
}


#b-top:checked ~ #title,
#b-about:checked ~ #c-about,
#b-report:checked ~ #c-report,
#b-homepage:checked ~ #c-homepage,
#b-soho:checked ~ #c-soho {
	opacity: 1;
  z-index: 2;
}

#b-about:checked ~ #cf-about,
#b-report:checked ~ #cf-report {
	opacity: 1;
  z-index: 2;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;
  background: #F4F5F7;
  overflow-y:auto;
  overflow-x: hidden;
}

.content>div:last-child {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  padding: 5px 1rem;
  margin: 0px auto 5px;
  line-height: 1.7;
}

.content>div a{
  text-decoration-line: none;
  font-weight: bolder;
  color:#c0a14f;
  word-wrap: break-word;
}

p{
  text-indent: 1rem;
  margin: 0.2rem 0;
}

.content>div>h2{
  font-size: 1.3rem;
  padding: 0.1rem 0.8rem;
  border: solid 1px #96C748;
  border-left: solid 7px #96C748;
  margin: 1.5rem 0 1rem 0;
}

#s-report>div>h2{
  border-color: #5C485F;
}


/* VIEWの挙動 */
/* #about:target {
  background: #96C748;
  opacity: 1;
} */

#about:target~nav #cf-about,
#report:target~nav #cf-report {
  width: 5000%;
  height: 5000%;
  transition: width 5s, height 5s;
}


#about:target ~ #s-about,
#report:target ~ #s-report {
  opacity: 1;
  top: 0;
  transition: top 1s 1.5s;
}

.none:target ~ nav {
  top: -100%;
}

.none:target ~ nav>div {
  top: -50%;
  transition: top 2s 1s;
}

.none {
  display: none;
}

/* 各種 */
#jList tr>td:first-child {
  white-space: nowrap;
  padding-right: 1rem;
}

/* 各記事のタイトル */
.con-title{
  margin-top: 80px;
  width: 100vw;
  height: 25vw;
  min-height: 13rem;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: #000;
}

/* ヘッダ */
.header {
  position: absolute;
  display: flex;
  align-items: center;
  top:0;
  left: 0;
  width: 100%;
  padding-left: calc(50% - 450px - 1rem);
  height: 80px;
  background: #fff;
  z-index: 10;
}

.header>h1{
  max-width: 150px;
  padding: 5px 10px;
}


.header>h1 img{
  width: 100%;
}

.con-menu{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background-color: #96C748;
  padding-right: calc(50% - 450px);
  font-weight: bolder;
  z-index: 12;
}

.con-menu>div:first-child {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: -160px;
  border-radius: 0 0 0 100%;
	background: #96C748;
}

#s-report .con-menu{
  background-color: #5C485F;
}

#s-report .con-menu>div:first-child {
	background: #5C485F;
}


.con-menu>img{
  height: 80px;
  width: 80px;
  margin-left: -124px;
  display:block;
}

.con-menu>a>img{
  display: block;
  height: 80px;
  width: 80px;
  background: #96C748;
}

#s-report .con-menu>a>img{
  background-color: #5C485F;
}



.con-title>img{
  display: block;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
}

.con-title>div{
  padding: 1rem;
  transform: translateY(-100%);
}

.con-title h2{
  margin-top: 0.3rem;
  font-size: 1.7rem;
}

.article {
  margin-bottom: 0.5rem;
  display: flex;
  color: #000!important;
  font-weight: normal!important;
}
.article>div{
  padding: 5px;
  line-height: 1.5;
}

.article>div:nth-child(1){
  width: 30%;
  overflow: hidden;
}
.article>div:nth-child(1)>img{
  width: calc(900% / 4);
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.article>div:nth-child(2){
  width: 70%;
}
